

.col {
  width: 33%;
  display: inline-block;
}

.nav li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  background-color: lightgrey ;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

header .logo {
  float: left;
  width: 33%;
}

header .nav {
  float: right;
  width: 33%;
}
